@inherits LayoutComponentBase
@inject HttpClient Http

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 51%;max-width: 80%;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">

                    <EditForm Model="@student" OnSubmit="Register"  class="form-horizontal" >
                        <div class="form-group">
                            <label for="acc" class="col-sm-2 control-label">Tài khoản</label>  
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="account" placeholder="Tài khoản" @bind="student.Account">
                            </div>
                        </div>

                         <div class="form-group">
                            <label for="pass" class="col-sm-2 control-label">Mật khẩu</label>  
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="password" placeholder="Mật khẩu" @bind="student.Password">
                            </div>
                        </div>

                         <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Tên</label>  
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" placeholder="Tên" @bind="student.Name">
                            </div>
                        </div>

                          <div class="form-group">
                            <label for="Gender" class="col-sm-2 control-label">Giới tính</label>
                               <div class="col-sm-10">
                                <InputRadioGroup @bind-Value="@student.Gender" style="padding-right: 10px">
                                    <InputRadio Value="1" />Nam
                                    <InputRadio Value="0" /> Nữ
                                </InputRadioGroup>
                            </div>
                        </div>
                        
                          <div class="form-group">
                            <label for="DOB" class="col-sm-2 control-label">Ngày sinh</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="DOB" placeholder="Ngày sinh" @bind="student.Birthday">
                            </div>
                        </div>


                       <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" onclick="javascript:window.location.reload()"  >Đăng kí</button>
                        </div>
                    </EditForm>

                </div>
            </div>
            
        </div>
    </div>
</div>


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <p target="_blank" style="padding-right: 10px">Đăng nhập</p>
            <p  target="_blank" data-bs-toggle="modal" data-bs-target="#exampleModal">Đăng kí</p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    #nullable disable
    public ViewStu  student = new ViewStu();

    async void Register()
    {
          await Http.PostAsJsonAsync<ViewStu>("/api/Stu/add-student", student);
    }
}