@page "/student"
@inject HttpClient Http
<h3>Student</h3>

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
      <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stu in students)
            {
                <tr>
                   <td>@stu.Student.Name</td>
                   <td>@stu.Student.DOB</td>
                   <td>@stu.Student.Gender</td>
                   <td>@stu.Student.Status</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    #nullable disable
    List<ViewStudentMark> students;

    protected override async Task OnInitializedAsync()
    {
         students = await Http.GetFromJsonAsync<List<ViewStudentMark>>("api/Stu/get-all");
    }
}